<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
            <allow roles="Admin" />
            <deny users="*" />
        </authorization>
        <customErrors defaultRedirect="~/ErrorPage.aspx" mode="Off" redirectMode="ResponseRewrite">
            <error statusCode="401" redirect="~/ErrorPage.aspx" />
            <error statusCode="403" redirect="~/ErrorPage.aspx" />
        </customErrors>
    </system.web>
</configuration>