<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="FST_VERSION" value="2.5" />
        <!-- this is the Web Service endpoint address and should match the value in the web config -->
        <add key="FST_SERVICE_ADDRESS" value="http://localhost:8883/FSTSVC" />
        <!-- this is the name of the Windows Service name -->
        <add key="FST_SERVICE_NAME" value="FST Local Service" />
        <!-- this is the smtp mail server -->
        <add key="FST_SERVICE_EMAIL_SERVER" value="doittsmtp.nycnet" />
    </appSettings>
    <connectionStrings>
        <remove name="LocalSqlServer"/>
        <add name="LocalSqlServer" connectionString="Data Source=.;Initial Catalog=FST_new_loci;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <!--<add name="LocalSqlServer" connectionString="Data Source=ocmedna-dev-dbs\sql2005;Initial Catalog=FST_Staging;uid=fst_dev;pwd=fst421" providerName="System.Data.SqlClient"/>-->
        <add name="MembershipSql" connectionString="Data Source=ocmedna-dev-dbs\sql2005;Initial Catalog=FST_Membership;uid=fst_dev;pwd=fst421" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
