<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <appSettings>
        <!-- this enables or disables the debug output (see Comparison.cs for related functionality) -->
        <add key="DEBUGOUT" value="true" />
        <add key="DomainName" value="CSC" />
        <!-- this is the version number. should be matched in all config files, and in the database -->
        <add key="FST_VERSION" value="2.5" />
        <!-- this is the Web Service endpoint address and should match the value in the service config -->
        <add key="FST_SERVICE_ADDRESS" value="http://localhost:8885/FSTSVC" />
    </appSettings>
    <connectionStrings>
        <remove name="LocalSqlServer" />
        <add name="LocalSqlServer" connectionString="Data Source=.\fst;Initial Catalog=FST;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
        <add name="MembershipSql" connectionString="Data Source=.\fst_membership;Initial Catalog=FST_Membership;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
        <!--<add name="ADConnectionString" connectionString="LDAP://LDAPConnectionString"/>-->
        <add name="ADConnectionString" connectionString="LDAP://LDAPConnectionString" />
    </connectionStrings>
    <system.web>
        <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
    -->
        <siteMap defaultProvider="FST_SiteMapProvider" enabled="true">
            <providers>
                <add name="FST_SiteMapProvider" type="System.Web.XmlSiteMapProvider" securityTrimmingEnabled="true" siteMapFile="web.sitemap" />
            </providers>
        </siteMap>
        <roleManager enabled="true" cacheRolesInCookie="true" cookieName="OCMEFSTROLES" defaultProvider="FST_RoleProvider">
            <providers>
                <add name="FST_RoleProvider" connectionStringName="MembershipSql" applicationName="Forensic" type="System.Web.Security.SqlRoleProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
            </providers>
        </roleManager>
        <membership defaultProvider="FST_MembershipProvider">
            <providers>
                <add name="ADMembershipProvider" attributeMapUsername="sAMAccountName" type="System.Web.Security.ActiveDirectoryMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="ADConnectionString" connectionUsername="CSC\fstadhelperdev" connectionPassword="fstproject" />
                <add name="FST_MembershipProvider" connectionStringName="MembershipSql" applicationName="Forensic" type="System.Web.Security.SqlMembershipProvider" enablePasswordRetrieval="true" enablePasswordReset="true" passwordFormat="Encrypted" requiresQuestionAndAnswer="false" minRequiredPasswordLength="5" maxInvalidPasswordAttempts="5" passwordAttemptWindow="10" minRequiredNonalphanumericCharacters="0" />
            </providers>
        </membership>
        <machineKey validationKey="287C5D125D6B7E7223E1F719E3D58D17BB967703017E1BBE28618FAC6C4501E910C7E59800B5D4C2EDD5B0ED98874A3E952D60BAF260D9D374A74C76CB741803" decryptionKey="5C1D8BD9DF3E1B4E1D01132F234266616E0D5EF772FE80AB" validation="SHA1" />
        <anonymousIdentification enabled="true" />
        <!-- anonymous users can also store profile data. In this case, though, a few extra requirements must be fulfilled. In particular, you have to turn on the anonymousIdentification feature, which is disabled by default: -->
        <profile defaultProvider="FST_ProfileProvider">
            <providers>
                <add name="FST_ProfileProvider" connectionStringName="MembershipSql" applicationName="Forensic" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
            </providers>
            <properties>
                <add name="FirstName" type="String" />
                <add name="LastName" type="String" />
                <add name="DisplayName" type="String" />
                <add name="Discipline" type="String" />
                <group name="Preferences">
                    <add name="Theme" type="String" allowAnonymous="true" />
                </group>
            </properties>
        </profile>
        <customErrors mode="Off" />
        <compilation debug="true" defaultLanguage="c#" targetFramework="4.0">
            <assemblies>
                <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
                <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
                <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
                <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
                <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
                <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
            </assemblies>
            <buildProviders>
                <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
            </buildProviders>
        </compilation>
        <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
        <sessionState timeout="60" cookieless="false" regenerateExpiredSessionId="false" />
        <!--<authentication mode="Windows"/>-->
        <authentication mode="Forms">
            <forms loginUrl="~/login.aspx" timeout="30"></forms>
        </authentication>
        <authorization>
            <allow roles="guest" />
            <allow roles="Admin" />
            <deny users="*" />
        </authorization>
        <httpHandlers>
            <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
        </httpHandlers>
        <pages clientIDMode="AutoID" controlRenderingCompatibilityVersion="3.5">
        </pages>

        <!-- we use this to write JavaScript to the page without it being automatically HtmlEncoded by ASP.Net -->
        <httpRuntime encoderType="HtmlAttributeEncodingNot" />
    </system.web>
    <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <handlers>
            <add name="CrystalImageHandler.aspx_GET" path="CrystalImageHandler.aspx" verb="GET" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
            <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        </handlers>
        <modules runAllManagedModulesForAllRequests="true">
            <remove name="Session" />
            <add name="Session" type="System.Web.SessionState.SessionStateModule" />
        </modules>
    </system.webServer>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFSTWebService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8885/FSTSVC" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFSTWebService" contract="FSTWebService.IFSTWebService" name="BasicHttpBinding_IFSTWebService" />
        </client>
    </system.serviceModel>
</configuration>
